<div class="navbar navbar-default header-fixed" ng-controller="NavController as vm">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="decks">Magiccombos</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li ng-show="vm.token">
                <a class="" ui-sref="decks">Meus Decks</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="!vm.token">
                <a ui-sref="cadastro">Cadastre-se</a>
            </li>
            <li ng-show="!vm.token">
                <a ui-sref="login">Login</a>
            </li>
            <li ng-show="vm.token">
                <a ui-sref="meusdados">Meus Dados</a>
            </li>
            <li ng-show="vm.token">
                <a href="javascript:;"><small>{{vm.token.email}}</small></a>
            </li>
            <li ng-show="vm.token">
                <a ng-click="vm.sair()" href="javascript:;">sair</a>
            </li>
        </ul>
    </div>
</div>